<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<link rel="shortcut icon" href="">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

		<title>{{id}}</title>
    </head>

    <body>
      <div class="titre">


                  <img src="/static/images/LogoTP.png"  class="logo">

              <span class="titre_de_page" contenteditable="true">
                   Cours HTML/CSS et Javascript - JC Dufourd
              </span>




          </div>

      <div>
        <a href="/">
            <button class="btn_leave" id="btn_leave">
            <span>Fermer la room</span>
            </button>
        </a>

          <button class="btn_title" id="btn_title" >
            <span>Update Title</span>
          </button>
      </div>


		  <iframe src="/proxy/{{id}}/{{id}}/{{html_link}}" id="slides_professeur"></iframe>

		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='approom.js')}}"></script>

		<script>
      var socket = io();

      /* au chargement de la page, le prof rentre un titre, qui est envoyé aux pages élèves*/
			var titre = prompt("Veuillez entrer le titre de votre présentation :");
			document.querySelector(".titre_de_page").innerHTML = titre ;
      socket.emit("new_title",{'title':titre, 'room' : document.title});

      /* Si le professeur clique sur le bouton, le titre est a nouveau envoyé à tous les élèves*/
      document.getElementById("btn_title").addEventListener('click', (event) => {
        console.log("ça marche ??")
        socket.emit("new_title",{'title':document.querySelector(".titre_de_page").innerHTML, 'room' : document.title});
      });

      /* Bouton Quitter : la room n'est plus disponible, les eleves et le prof sont envoyés à la page d'accueil */
      var quitter = document.getElementById("btn_leave");
      var num_page = document.title;
      quitter.addEventListener('click', function(){
        console.log("je quitte !")
        socket.emit("quit_room", num_page)
      })

		</script>


    </body>
</html>
