  <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<link rel="shortcut icon" href="">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

		<title id="title">{{id}}</title>
    </head>

    <body>
      <div class="titre">


                  <img src="/static/images/LogoTP.png"  class="logo">


              <span class="titre_de_page">
                   Cours HTML/CSS et Javascript - JC Dufourd
              </span>


          </div>

    		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

			<iframe src="/proxy/{{id}}/{{id}}/{{html_link}}" id="slides_eleve"></iframe>
        <div class="onoffswitch" id="btn_sync">

            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>

    </div>


		<script src="{{ url_for('static', filename='student_app.js')}}"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

		<script>
				var socket = io();
				socket.emit('join',document.title);
				socket.emit('title_request',document.title)
				socket.on('room_title', function(title){
					document.querySelector(".titre_de_page").innerHTML = title;
				});

        socket.on('closed_room', function(room){
          document.location.href="{{ url_for('index') }}"
				});

        socket.on("update_title", function(title, room){
          console.log(title)
          document.querySelector(".titre_de_page").innerHTML = title;
        });
		</script>
    </body>
</html>
