<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Page d'accueil</title>
  <link type="text/css" rel="stylesheet"
        href="/static/page_accueil.css">
</head>
	<body>
		<div class="titre">

      <span>
          <img src="/static/LogoTP.png"  class="logo">
      </span>

      <span class="titre_de_page">
           Page d'accueil
      </span>

    </div>
        

    <div>

        <p class="question">
          Qui êtes-vous ?

        </p>

    </div>

    

    <div class="container">

        <button class="eleves" onclick="location.href='/accueil_eleves';"  id="btn_eleves">
        <span class="taille_btn">Elève</span>
        </button>

    </div>
    <div class="container">

        <button class="prof" onclick="location.href='/accueil_profs';" id="btn_prof">
        <span class=" taille_btn">Professeur</span>
        </button>

    </div>

<script type="text/javascript" src="/static/page_accueil.js"></script>
	</body>
</html>
