<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<link rel="shortcut icon" href="">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

        <title>Projet du futur !</title>
    </head>

    <body>
      
		<header class="titre">
            <h1 class="titre_de_page"> Cours HTML/CSS et Javascript - JC Dufourd </h1>
            <!--<img class ="logo" src="/static/LogoTP.png" />-->
        </header>


		<!--<iframe src="/static/reveal.js-master/demo.html" id="slides_professeur"></iframe>-->


		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"> 
        </script>


        <div class = "iframe">
            <iframe src="/static/reveal.js-master/demo.html" class="slides_eleve"></iframe>
            <!--<<button id = "btn_sync" class="btn">Synchronisation</button>-->
        </div>


        <div class="container"> 
            <button type="button" id ="btn_sync" class="btn">
            <span>Synchronisation</span>
            </button>
        </div>


		<script src="{{ url_for('static', filename='app.js')}}"></script>
    </body>
</html>
