<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<link rel="shortcut icon" href="">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

		<title>{{id}}</title>
    </head>

    <body>
      <div class="titre">


                  <img src="/static/images/LogoTP.png"  class="logo">


              <span class="titre_de_page">
                   Cours HTML/CSS et Javascript - JC Dufourd
              </span>


          </div>

		  <iframe src="/proxy/{{id}}/{{id}}/{{html_link}}" id="slides_professeur"></iframe>
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

		<script src="{{ url_for('static', filename='approom.js')}}"></script>

    </body>
</html>
