body{
	background-image: url("/static/images/bg2.jpg");
	background-attachment: fixed; /* Le fond restera fixe */

}

.titre {

	background-color: #d40019;
	height: 4em;
	margin-left:0;
	text-align: left;
	vertical-align: top;
	width: 100%;

}



.logo {
	margin-left:0;
	text-align: left;
	height: 146px;
	width: 95px;
}

.titre_de_page{
	color:white;
	font-size: 2em;
	text-align: center;
	vertical-align: 280%;
	font-style: italic;
	font-weight: bold;
	width: 35%;
	height: 10%;
	margin-left: 38%;

}

/*@font-face {
	font-family: "Ma Super Fonte";
	*/

.question {
	font-family: "Gill-Sans", sans-serif;
	font-size: 3em;
	text-align: center;
	font-style: bold;
	width: 100%;
	height: 100%


}

.container {
      position: center;
      top: 10%;
      text-align: center;



      }

.eleves {
	position: center;
	display: block;
	background-color: #0089bf;
	border-radius: 10px;
	border: 4px double #cccccc;
	color: #eeeeee;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 500px;
	height: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: auto;
	margin-top: 2%;
	}
.eleves span {
	cursor: pointer;
	display: block;
	position: relative;
	transition: 0.5s;
	}
.eleves span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: 20px;
	transition: 0.5s;
	}
.eleves:hover {
	background-color: #0339a3;
	}
.eleves:hover span {
	padding-right: 25px;
	}
.eleves:hover span:after {
	opacity: 1;
	right: 0;
	}

.prof {
	position: center;
	display: block;
	background-color:#d61313;
	border-radius: 10px;
	border: 4px double #cccccc;
	color: #eeeeee;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 500px;
	height: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: auto;
	margin-top: 2%;
	}
.prof span {
	cursor: pointer;
	display: block;
	position: relative;
	transition: 0.5s;
	}
.prof span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: 20px;
	transition: 0.5s;
	}
.prof:hover {
	background-color: #e60000;
	}
.prof:hover span {
	padding-right: 25px;
	}
.prof:hover span:after {
	opacity: 1;
	right: 0;
	}


.taille_btn{
font-size: 2em;
}

.rooms {
	font-size: 2.5em;
	margin-top: 3em;
	text-align:bottom;
	font-weight: bold;
}

.room_code {
	margin-top: 4em;
	margin-left: 13em;
}

.btn_leave {
	width: 50px;
	height: 50px;
}