.titre {

	background-color: #d40019;
	height: 4em;
	margin-left:0;
	text-align: left;
	vertical-align: top;
	width: 100%;

}

.logo {
	margin-left:0;
	text-align:  left;
	height: 146px;
	width: 95px;
}

.titre_de_page{
	color:white;
	font-size: 2em;
	text-align: center;
	vertical-align: 280%;
	font-style: italic;
	font-weight: bold;
	width: 35%;
	height: 10%;
	margin-left: 38%;

}

@font-face {
	font-family: "Ma Super Fonte";
	src: url('Rubik-BoldItalic.ttf');
}

.question {
	font-family: "Gill-Sans", sans-serif;

	font-size: 5em;
	text-align: center;
	font-style: bold;
	width: 100%;
	height: 100%


}